<ion-view title="Destination" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <ion-list id="destination-list3">
      <ion-item id="destination-list-item5">Source</ion-item>
    </ion-list>
    <a ui-sref="scan()" id="destination-button5" style="border-radius:20px 20px 20px 20px;" class="button button-positive button-block">Change Source</a>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <form id="destination-form2" class="list">
      <label class="item item-select" id="destination-select1">
        <span class="input-label">Destination</span>
        <select></select>
      </label>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <ion-item class="item-divider" id="destination-list-item-divider2"> Recommendations</ion-item>
      <label class="item item-select" id="destination-select2">
        <span class="input-label">List</span>
        <select></select>
      </label>
    </form>
  </ion-content>
</ion-view>
