<ion-view title="Text Instructions" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="textInstructions-list5">
      <ion-item id="textInstructions-list-item12">Item 1</ion-item>
      <ion-item id="textInstructions-list-item13">Item 2</ion-item>
      <ion-item id="textInstructions-list-item14">Item 3</ion-item>
    </ion-list>
    <a ui-sref="map()" id="textInstructions-button12" style="border-radius:20px 20px 20px 20px;" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>
